body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Thasadith', sans-serif;
    font-weight: 400;
    padding: 0;
    height: 100%;
}
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #ffffff;
}
header::after {
    content: '';
    display: table;
    clear: both;
}

#logo2 {
    float: left;
    width: 15%;
    height: auto;
    padding: 10px 0;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left:  80px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%;
}

.g1 {
    width: 600px;
    height: auto;
    animation: g1 5s;
}
@keyframes g1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.wrapper {
    padding: 0;
    margin-top: 50px;
    margin-left: 400px;
    position: absolute;
}
.paragraph1 {
    padding: 0;
    position: absolute;
    margin-top: 20%;
    margin-left: 45%;
    padding-right: 20px;
    animation: paragraph1 12s;
}

    @keyframes paragraph1 {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
}
.highlight {
    font-size: 25px;
    
}

* {
    border: 0;
    padding: 0;
    margin: 0;
}
.titlepage {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Thasadith', sans-serif;
    width: 100%;
    height: 100vh;
    margin-top: 53%;
}
h2 {
    font-size: 30px;
    background-color: black;
    color: #ffffff;
    padding: 8px 24px;
    border-radius: 16px;
}
div:nth-child(1) {
    background-image: url(images/designerman.png);
    background-size: cover;
}
div:nth-child(2) {
    background: #ffffff;
}